/* GLOBAL */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color-1: #fbbd61;
  --primary-color-2: #ec7532;
}

.line::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 0;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: all 0.3s;
}

.section-title {
  color: #ec7532;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  position: relative;
}

/* HEADER */
.header {
  padding-top: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__contact i {
  font-size: 14px;
}

.header__contact span {
  font-size: 14px;
  font-weight: bold;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header__navbar .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__navbar .nav-item {
  position: relative;
  padding-bottom: 10px;
}

.header__navbar .nav-item:hover::after {
  width: 100%;
}

.header__navbar .nav-item.active::after {
  width: 100%;
}

.header__navbar .nav-item .nav-link {
  color: white;
  padding: 0 20px;
}

.modal__sign-in input::placeholder,
.modal__sign-up input::placeholder {
  font-size: 13px;
}

.modal__sign-in h3,
.modal__sign-up h3 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #ec7532;
}

.modal__sign-in .modal-header button:focus,
.modal__sign-up .modal-header button:focus {
  outline: none;
}

.modal__sign-in .modal-body input,
.modal__sign-up .modal-body input {
  margin-bottom: 10px;
}

.modal__sign-up .modal-body .sign-up__gender label {
  margin-right: 10px;
}

.sign-up__gender input {
  background-color: #ec7532;
}

.btn-gradient {
  padding: 8px 30px;
  background: linear-gradient(to right, #ec7532, #fbbd61);
  color: white;
  letter-spacing: 2px;
}

.btn-gradient:hover {
  color: white;
}

.modal-footer .btn-gradient:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 117, 50, 0.25);
}

/* media query */
@media screen and (max-width: 992px) {
  .header__navbar .nav-item {
    margin: 10px 0 15px;
  }
  .header__navbar .navbar-nav {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* CAROUSEL */
.my-carousel .carousel-item__1 {
  background: url("../img/hero-1.jpg") no-repeat center center;
  background-size: cover;
  height: 800px;
}

.my-carousel .carousel-item__2 {
  background: url("../img/hero-2.jpg") no-repeat center center;
  background-size: cover;
  height: 800px;
}

.my-carousel .carousel-item__3 {
  background: url("../img/hero-3.jpg") no-repeat center center;
  background-size: cover;
  height: 800px;
}

.carousel-item {
  position: relative;
}

.carousel-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to top, black, transparent);
}

.carousel-item__caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel__title {
  color: var(--primary-color-1);
  font-size: 14px;
  letter-spacing: 2px;
}

.carousel-item__caption p {
  font-size: 18px;
  padding-right: 25px;
}

.carousel-item__trailer span {
  border: 2px solid white;
  padding: 10px;
}

.carousel-item__trailer .btn-orange {
  padding: 10px 30px;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.carousel-item__trailer .btn-orange:hover {
  background: linear-gradient(to left, #fbbd61, #ec7532);
}

.carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
}

.carousel-indicators .active {
  background-color: white;
}

.carousel-indicators {
  bottom: 50px;
}

/* media query */
@media screen and (max-width: 576px) {
  .carousel-item__caption h1 {
    font-size: 35px;
  }

  .carousel-item__caption p {
    font-size: 14px;
  }

  .carousel-item__caption {
    padding: 0 40px;
  }
}
/* SHOWING MOVIE */
.showing {
  padding-top: 80px;
}

.showing__title.line::after {
  width: 200px;
}

.showing__detail {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.showing-detail__caption a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.showing-detail__caption i {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  border-radius: 50%;
  margin: 15px auto;
  border: 2px solid white;
}

.showing-detail__caption span {
  font-size: 16px;
}

.showing-detail__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  transition: all 0.3s;
}

.showing-detail__overlay {
  position: absolute;
  top: 0;
  left: -400%;
  transform: skewX(45deg);
  background: linear-gradient(to bottom, #fbbd61, #ec7532);
  width: 300%;
  height: 100%;
  transition: all 0.5s;
}

.showing__detail:hover .showing-detail__caption {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
}

.showing__detail:hover .showing-detail__overlay {
  left: -100%;
}

.showing__name {
  font: 18px;
  margin: 15px 0;
  font-weight: 500;
}

.showing__star {
  color: #fbbd61;
}

/* media query */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .showing__detail .showing-detail__caption {
    transform: translate(-50%, -50%) scale(0.5);
  }

  .showing__detail:hover .showing-detail__caption {
    transform: translate(-50%, -50%) scale(0.75);
  }
}

/* SHOWTIME */
.showtime {
  padding-top: 80px;
}

.showtime .nav-tabs .nav-link {
  position: relative;
  color: #4a4a4a;
  padding: 10px 30px;
}

.showtime .nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  border: white;
}

.showtime .nav-tabs .nav-link.active.line::after,
.showtime .nav-tabs .nav-link:hover.line::after {
  width: 100%;
}

.showtime__movie img {
  border-radius: 10px;
  height: auto;
}

.showtime__detail > span {
  font-size: 14px;
  color: #ec7532;
  letter-spacing: 2px;
}

.showtime__detail > p {
  font-size: 16px;
}

.showtime__detail > a {
  color: #ec7532;
  font-size: 12px;
  letter-spacing: 3px;
  text-decoration: none;
}

.showtime__detail > h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
}

.showtime__list {
  color: #717171;
}

.showtime__list i,
.showtime__list span {
  font-size: 14px;
}

.showtime__list .showtime__min {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
}

/* media query */
@media screen and (max-width: 576px) {
  .showtime {
    margin-bottom: 50px;
  }
  .showtime .nav-tabs .nav-link {
    font-size: 14px;
    padding: 5px 17px;
  }

  .showtime__movie img {
    width: 100%;
  }

  .showtime__movie .col-md-2 {
    padding: 0 50px;
    height: auto;
  }

  .showtime__detail {
    text-align: center;
    padding: 20px 10px 0;
  }

  .showtime__detail > h1 {
    font-size: 40px;
    margin: 15px 0;
    font-weight: 400;
  }

  .showtime__detail i,
  .showtime__detail span {
    font-size: 12px;
  }

  .showtime__list .btn {
    font-size: 12px;
    padding: 3px 6px;
  }

  .showtime__length {
    font-size: 14px;
    margin-bottom: 0;
  }

  .showtime__list .showtime__min {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .showtime .nav-tabs .nav-link {
    font-size: 16px;
    padding: 5px 20px;
  }

  .showtime__movie img {
    width: 100%;
    margin: 0 auto;
  }

  .showtime__movie .col-md-2 {
    padding: 0 80px;
  }

  .showtime__detail {
    text-align: center;
    margin-top: 20px;
  }

  .showtime__detail > h1 {
    font-size: 45px;
    margin: 15px 0;
    font-weight: 400;
  }

  .showtime__detail i,
  .showtime__detail span {
    font-size: 14px;
  }

  .showtime__list .btn {
    font-size: 14px;
    padding: 4px 8px;
  }

  .showtime__length {
    margin-bottom: 0;
  }
}

/* COMING SOON */
.coming {
  background-color: black;
}

.coming__bg {
  background: url("../img/slide-3.png") no-repeat center center;
  background-size: cover;
}

.coming__title {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
  position: relative;
}

.coming__title.line::after {
  width: 160px;
}

.coming__detail > span {
  font-size: 14px;
  color: #ec7532;
}

.coming__detail > h1 {
  font-size: 34px;
  color: white;
}

.coming__detail .coming__star {
  color: #fbbd61;
  font-size: 14px;
}

.coming__day {
  opacity: 0.75;
  font-size: 14px;
  margin-left: 10px;
}

.coming__detail a {
  color: #ec7532;
  letter-spacing: 3px;
}

.coming__trailer img {
  width: 100%;
  display: block;
}

.coming__trailer i {
  width: 84px;
  height: 84px;
  display: inline-block;
  border: 2px solid #ec7532;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 84px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coming__list {
  background-color: #151517;
}

.coming__movie {
  opacity: 0.5;
}

.coming__movie img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px;
  border-radius: 10px;
}

.coming__movie h3 {
  font-size: 18px;
}

.coming__movie span {
  font-size: 14px;
}

.coming__movie.active {
  opacity: 1;
}

/* media query */
@media screen and (max-width: 576px) {
  .coming__detail {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .coming__trailer i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: 30%;
  }
}
/* CONTACT */
.contact h3 {
  font-size: 20px;
  font-weight: 400;
  color: #717171;
  margin-bottom: 20px;
}

.contact span {
  font-size: 40px;
  color: #ec7532;
}
/* FOOTER */
.footer {
  background-color: #101010;
  padding-top: 80px;
}

.footer__content h3 {
  font-size: 18px;
  color: #ec7532;
  margin-bottom: 30px;
}

.footer__content p {
  font-size: 14px;
  color: #d2d3d6;
  margin-bottom: 10px;
}

.footer__content i {
  margin-right: 15px;
  font-size: 12px;
  color: #4a4a4a;
}

.footer__content {
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__copyright p {
  padding: 20px 0;
  margin-bottom: 0;
  color: #d2d3d6;
  font-size: 14px;
}

/* media query */
@media screen and (max-width: 576px) {
  .footer__content h3 {
    float: left;
    width: 50%;
    margin-bottom: 80px;
  }

  .footer__item {
    clear: both;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footer__content h3 {
    font-size: 11px;
  }

  .footer__content p {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer__content h3 {
    font-size: 16px;
  }

  .footer__content p {
    font-size: 14px;
  }
}
